* {
	font-family: Roboto;
	text-decoration: none;
	color: black;
	margin: 0;
	padding: 0;
}

#nav {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: fixed;
	right: 0;
	width: 75%;
	height: 100%;
	background-color: white;
	box-shadow: 8px 0 10px 5px black;
}

#hamburger {
	display: none;
}

#hamburger-close {
	padding: 30px;
}

#nav-ul {
	list-style: none;
	width: 100%;
}

#nav-ul>li,
#nav-ul>li>a {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

@media only screen and (min-width: 768px) {}