* {
	font-family: Roboto;
	color: gray;
}

html,
body {
	height: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

h1 {
	font-size: 150pt;
	font-weight: 600;
}

h2 {
	font-size: 39pt;
	margin-bottom: 50px;
}
