* {
	font-family: Roboto;
	font-weight: 200;
	font-size: 10pt;
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	width: 21cm;
	height: 29.7cm;
}

.container>.pane-left {
	display: flex;
	width: 7cm;
	height: 100%;
	background-color: rgb(230, 230, 230);
	padding: 0 0.6cm;
}

.container>.pane-right {
	display: flex;
	width: 14cm;
	height: 100%;
	background-color: rgb(245, 245, 245);
	padding: 0 0.6cm;
}

.container>.pane-left>ul,
.container>.pane-right>ul {
	margin-top: 14cm;
}

.container>.pane-header {
	position: fixed;
	display: flex;
	width: 21cm;
	margin-top: 4.2cm;
}

.container>.pane-header>.photo {
	display: flex;
	overflow: hidden;
	width: 5.6cm;
	height: 5.6cm;
	border: 0.3cm solid rgb(245, 245, 245);
	border-radius: 50%;
	margin-left: 4.2cm;
}

.container>.pane-header>.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 0.9cm;
}

h1 {
	font-weight: 400;
	font-size: xx-large;
	margin-top: 0.6cm;
}

h2 {
	font-weight: 200;
	font-size: x-large;
}

h3 {
	font-size: large;
}