* {
	font-family: Roboto;
}

html,
body {
	height: 100%;
}

.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
}

.left-pane {
	width: 25%;
	height: 100%;
	background-color: rgba(205, 205, 205);
}

.center-pane {
	width: 15%;
	height: 100%;
	background-image: url('../gfx/bg.svg');
	background-repeat: repeat;
	display: flex;
	justify-content: center;
}

.right-pane {
	width: 60%;
	height: 100%;
	background-color: rgba(235, 235, 235);
}

.photo-container {
	background-color: #000000;
	display: flex;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	border: 15px solid rgba(235, 235, 235);
	position: fixed;
	top: 15%;
	/* box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1); */
}

.photo {
	position: relative;
	left: 20px;
	top: 10px;
}